@(currentUser: Option[User])

@layouts.main("Frequently asked questions", currentUser) {

  <h1>FAQ</h1>

  <h2>What is it?</h2>
  <p><strong>Discusslr is a fast and fun way to start interesting discussions with the world</strong></p>
  <p>Whether you want to talk about news stories, live events, sports games or get feedback on something, Discusslr makes it
     possible to start interesting discussions in seconds.</p>

  <h2>Why?</h2>
  <p>Discusslr let's you create and share conversation streams online quickly.</p>

  <h2>Is it free?</h2>
  <p>Yes. Public discussions will always be free. We are planning to offer private conversations that may operate on a subscription model.</p>
}