@(registrationForm: Form[RegistrationData], currentUser: Option[User])

@layouts.home("Broadcaast (beta)", currentUser) {

    <div class="start">
        <h1>Broadcaast</h1>
        <h2>A fast, easy way to share and organize content</h2>

        <div class="quick-start">
            <div class="home-registration-form">
                @helper.form(action = routes.RegistrationController.create) {
                    <input type="email" id="email" name="email" placeholder="Email">
                    <input type="password" id="password" name="password" placeholder="Password">
                    <input type="text" id="username" name="username" placeholder="Username">
                    <input class="btn btn-primary" type="submit" value="Signup" />
                }
            </div>
        </div>
    </div>
}
